<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a60e3">  <td>18/11/20 15:54:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverScript.buildUp()[pri:0, instance:ng_poc.DriverScript@553f17c]">&gt;&gt;buildUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/11/20 15:54:46</td>   <td>265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverScript.appSetup()[pri:0, instance:ng_poc.DriverScript@553f17c]">&gt;&gt;appSetup</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/11/20 15:54:47</td>   <td>1178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverScript.mx_create_pm()[pri:1, instance:ng_poc.DriverScript@553f17c]">mx_create_pm</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/11/20 15:55:09</td>   <td>23121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.tearDown()[pri:0, instance:ng_poc.DriverScript@553f17c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/11/20 15:55:09</td>   <td>23306</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.flushDown()[pri:0, instance:ng_poc.DriverScript@553f17c]">&lt;&lt;flushDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
</table>
